:global .contain {
}
:global .contents {
}
:global .search {
  padding: 50px 0 50px 0;
  background: linear-gradient(45deg, #3669ac, #329bba);
}
:global .search .search-inner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}
:global .search .search-inner div {
  display: inline-block;
  text-align: left;
}
:global .search .search-inner div:nth-child(2) {
  padding: 0 10px;
}
:global .search :global .search-inner button {
  background: transparent;
  color: #fff;
  border-radius: 2px;
  padding: 19px 25px;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #fff;
}
:global .search .search-inner .search-box {
  width: 80%;
  border-bottom: 2px solid #fff;
}
:global .search .search-inner .search-box input {
  width: 85%;
  height: 50%;
  padding: 5px 0;
  margin: 17px 0;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  -webkit-box-sizing: border-box;
}
:global .search .search-inner :global .search-box input::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
:global .search .search-inner .search-box button {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 31px;
}
:global .search .search-inner .search-box button::before {
  display: inline-block;
  width: 24px;
  height: 15px;
  margin: 3px 7px 0 0;
  background: url("../../assets/images/sp_main.png") 0 0 no-repeat;
  background-position: -79px -39px;
  vertical-align: middle;
  content: "";
}

:global .service {
  width: 100%;
}
:global .service .service-inner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

:global .service .service-inner ul li {
  float: left;
  width: calc(12% - 8px);
  display: inline-block;
}
